[worldserver]

###################################################################################################
#	禁止多客户端
###################################################################################################

#
#    Disallow.Multiple.Client
#        描述：此选项限制同一网络中可以同时游戏的客户端数量。
#        默认值：    0（无限制）
#                    1+（来自同一 IP 的最大客户端数）

Disallow.Multiple.Client = 0

# 当玩家登录时是否宣布该模块？

Disallow.Multiple.Client.Announce = 0
